<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="teacherBean" class="model.Teacher">
		<constructor-arg type="java.lang.String" value="01"></constructor-arg>
		<constructor-arg type="java.lang.String" value="IPD19"></constructor-arg>
		<property name="students">
			<list>
				<ref bean="studentBean1" />
				<ref bean="studentBean2" />
			</list>
		</property>
	</bean>

	<bean id="studentBean1" class="model.Student">
		<constructor-arg type="String" value="001"></constructor-arg>
		<constructor-arg type="String" value="John"></constructor-arg>
	</bean>

	<bean id="studentBean2" class="model.Student">
		<constructor-arg value="002" type="String"></constructor-arg>
		<constructor-arg value="Abbott" type="String"></constructor-arg>
	</bean>
</beans>
